table.row.header
  tr
    td.center(align='center')
      center
        table.container
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.six.sub-columns
                    img(src='http://placehold.it/200x50')                
                  td.six.sub-columns.last(style='text-align:right; vertical-align:middle;')
                    span.template-label BASIC
                  td.expander
