extends layout/_layout

block content
  
  include layout/_header
  
  // Email content
  table.container
    tr
      td
        table.row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td
                    h1 Hi, Susan Calvin
                    p.lead Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.  
                    p Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus. Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui. Pellentesque non lacinia mi. Fusce sit amet libero sit amet erat venenatis sollicitudin vitae vel eros. Cras nunc sapien, interdum sit amet porttitor ut, congue quis urna.           
                  td.expander
                    
        table.row.callout
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td.panel
                    p Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. 
                      a(href='#') Click it! &raquo;              
                  td.expander

        table.row.footer
          tr
            td.wrapper
              table.six.columns
                tr
                  td.left-text-pad
                    h5 Connect With Us:           
                    table.tiny-button.facebook
                      tr
                        td
                          a(href='#') Facebook      
                    br
                    table.tiny-button.twitter
                      tr
                        td
                          a(href='#') Twitter                  
                    br
                    table.tiny-button.google-plus
                      tr
                        td
                          a(href='#') Google +              
                  td.expander
            td.wrapper.last
              table.six.columns
                tr
                  td.last.right-text-pad
                    h5 Contact Info:           
                    p Phone: 408.341.0600              
                    p Email: 
                      a(href='mailto:hseldon@trantor.com') hseldon@trantor.com               
                  td.expander
        
        table.row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td(align='center')
                    center
                      p(style='text-align:center;')
                        a(href='#') Terms
                        |  | 
                        a(href='#') Privacy
                        |  | 
                        a(href='#') Unsubscribe
                  td.expander
        // container end below

  include layout/_footer