extends layout/_layout

block content
  include layout/_header
  
  // Email content
  
  br
  table.container
    tr
      td
        // content start
        table.row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td
                    h1 Welcome, Daneel Olivan
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                    img(width='580', height='300', src='http://placehold.it/580x300')
                  td.expander
              table.twelve.columns
                tr
                  td.panel
                    p
                      | Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. 
                      a(href='#') Click it! »
                  td.expander
        br
        // Break Tag for row
        table.row
          tr
            td.wrapper
              table.six.columns
                tr
                  td
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.
                    table.button
                      tr
                        td
                          a(href='#') Click Me!
                  td.expander
            td.wrapper.last
              table.six.columns
                tr
                  td.panel
                    h6 Header Thing
                    p Sub-head or something
                    table
                      tr
                        td
                          a(href='#') Just a Plain Link »
                    hr
                    table
                      tr
                        td
                          a(href='#') Just a Plain Link »
                    hr
                    table
                      tr
                        td
                          a(href='#') Just a Plain Link »
                    hr
                    table
                      tr
                        td
                          a(href='#') Just a Plain Link »
                    hr
                    table
                      tr
                        td
                          a(href='#') Just a Plain Link »
                    hr
                    table
                      tr
                        td
                          a(href='#') Just a Plain Link »
                    hr
                    table
                      tr
                        td
                          a(href='#') Just a Plain Link »
                  td.expander
              br
              table.six.columns
                tr
                  td.panel
                    h6(style='margin-bottom:5px;') Connect With Us:
                    table.tiny-button.facebook
                      tr
                        td
                          a(href='#') Facebook
                    hr
                    table.tiny-button.twitter
                      tr
                        td
                          a(href='#') Twitter
                    hr
                    table.tiny-button.google-plus
                      tr
                        td
                          a(href='#') Google +
                    br
                    h6(style='margin-bottom:5px;') Contact Info:
                    p
                      | Phone: 
                      b 408.341.0600
                    p
                      | Email: 
                      a(href='mailto:hseldon@trantor.com') hseldon@trantor.com
                  td.expander
        br
        br
        // Legal + Unsubscribe
        table.row
          tr
            td.wrapper.last
              table.twelve.columns
                tr
                  td(align='center')
                    center
                      p(style='text-align:center;')
                        a(href='#') Terms
                        |  | 
                        a(href='#') Privacy
                        |  | 
                        a(href='#') Unsubscribe
                  td.expander
        // container end below

  include layout/_footer